---
- name: "Redhat tasks"
  ansible.builtin.import_tasks: setup-redhat.yml
  when:
    - ansible_facts.os_family in ["RedHat", "Rocky", "OracleLinux"]
    - ansible_facts.distribution_major_version != "7"

- name: "Debian tasks"
  ansible.builtin.import_tasks: setup-debian.yml
  when: ansible_facts.os_family == 'Debian'
